html body {
    font-family: 'Imprima', sans-serif;
}

html body .button {
    font-family: 'Cantata One', serif;
}

body.admin-bar #header .navbar {
    top: 32px;
}

body.admin-bar .site-content .content-area .site-main .s-hero {
    min-height: calc(100vh - 34px);
}

#header {

}

.site-content .content-area .site-main .s-hero {
    position: relative;
    min-height: calc(100vh - 2px);
}

.site-content .content-area .site-main .s-hero .hero-body {
    z-index: 1;
}

.site-content .content-area .site-main .s-hero .hero-body .container .title{
    font-size: 90px;
    font-family: 'Cantata One', serif;
}

.site-content .content-area .site-main .s-hero .s-hero__background-image {
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.site-content .content-area .site-main .s-hero .s-hero__background-image.top {
    background-position: top;
}
.site-content .content-area .site-main .s-hero .s-hero__background-image.center {
    background-position: center;
}
.site-content .content-area .site-main .s-hero .s-hero__background-image.bottom {
    background-position: bottom;
}

.site-content .content-area .site-main .s-hero .s-hero__background-image::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(48,48,48,0) 100%);
}

.site-content .content-area .site-main .s-hero .s-hero__background-image::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #303030;
    opacity: 0.5;
}